
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login here </title>
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/AgenciesSignup.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login here</header>
                    <form action="/api/agecyvehicledisplay" method="get">
                        <div class="field input-field">
                            <input type="text" id="mobileno" name="mobileno" placeholder="Email or Mobile" class="input">
                        </div>
                        
                        <div class="field input-field">
                            <input type="password" placeholder="Password"  id="password" name="password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>
                        <div class="field button-field">
                            <button>Login</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                    </div>
                    <div class="col-md-12" style="display: flex; align-items: center;justify-content: center; padding-top: 15;">
                        <span style="font-size: medium; font-weight: bold; color: crimson;">{{message}}</span>
                      </div>
                </div>
                
                
            </div>
            <!-- Signup Form -->
            <div class="form signup">
                <div class="form-content">
                    <header>Register your agency </header>
                    <form action="/api/agencysubmit" method="post">
                        <div class="field input-field">
                            <input type="Text" id="Agencyname" name="Agencyname" placeholder="Name" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="Mobile Number " id="mobileno"  name="mobileno" placeholder="Mobile number" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="text" id="agencycity"  name="agencycity" placeholder="Enter City" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="email" id="emailid" name="emailid" placeholder="Email" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password">
                        </div>
                        <div class="field input-field">
                            <input type="password" id="password" name="password" placeholder="Confirm password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        <div class="field button-field">
                            <button type="submit">Signup</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>
                <div class="col-md-12" style="display: flex; align-items: center;justify-content: center; padding-top: 15;">
                    <span style="font-size: medium; font-weight: bold; color: crimson;">{{message}}</span>
                  </div>
                
            </div>
        </section>
        <!-- JavaScript -->
        <script >
            const forms = document.querySelector(".forms"),
      pwShowHide = document.querySelectorAll(".eye-icon"),
      links = document.querySelectorAll(".link");
pwShowHide.forEach(eyeIcon => {
    eyeIcon.addEventListener("click", () => {
        let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
        
        pwFields.forEach(password => {
            if(password.type === "password"){
                password.type = "text";
                eyeIcon.classList.replace("bx-hide", "bx-show");
                return;
            }
            password.type = "password";
            eyeIcon.classList.replace("bx-show", "bx-hide");
        })
        
    })
})      
links.forEach(link => {
    link.addEventListener("click", e => {
       e.preventDefault(); //preventing form submit
       forms.classList.toggle("show-signup");
    })
})
        </script>
    </body>
</html>