
<html>
   <head>
      <link rel="stylesheet" href="/static/css/CategoryInterface.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

   </head>
<div class="maincontainer">

   <div class="box">
    <form class="row g-3" action="/api/categorysubmit" enctype="multipart/form-data" method="post"> {% csrf_token %}
     <div class="col-md-12 headingstyle">
      <img src="/static/Logo1.png" style="width:40px; padding-right: 8px; "/>
      Add New Category

     </div>
     <div class="col-md-12">
       <label for="categoryname" class="form-label  labelstyle">Category Name</label>
       <input required type="text" name="categoryname" class="form-control" id="categoryname">
 
     </div>
     <div class="col-md-12">
       <label for="description" class="form-label labelstyle">Description</label>
       <input required type="text" name="description" class="form-control" id="description">
 
     </div>


<div class="col-md-6" style="display: flex;justify-content:center; align-items: center;" >
   <button style="width: 75%;" type="submit" class="btn btn-primary labelstyle">Submit</button>
  </div>
   <div class="col-md-6" style="display: flex;justify-content:center; align-items: center; ">
 <button type="reset" style="width: 75%;" class="btn btn-primary labelstyle">Reset</button>
   </div>
   <div class="col-md-12" style="display: flex;justify-content:center; align-items: center; ">
     <b>{{message}}</b>
   </div>  

    </form>
   </div>

</div>

</html>