<style>
    .maincontainer{
   width: 100vw;
   height: 100vh;
   background: #81ecec;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box{
   background: #fff;
   width: 50vw;
   height: auto;
   padding: 15px;
   border-radius: 10px;
}
.headingtext{
   font-size: 22px;
   font-family: Poppins;
   font-weight: bold;
   padding: 5px;
   letter-spacing: 1px;
}
.labelstyle{
   font-size: 15px;
   font-family: Poppins;
   font-weight: bold;
   letter-spacing: 1px;
}
</style>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    </head>
    <div class="maincontainer">
        <div class="box">
            <form action="/api/savesubcategoryicon" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="col-md-12 headingtext">
                    <img src="/static/logo.png" style="width: 60px; height: 50px; padding-right: 8px;">
                    Edit Picture
                </div>
                <input type="hidden" name="id" value="{{data.id.0}}">
                <input type="hidden" name="ci" value="{{data.id.0}}">
                <div class="row g-3">
                    <div class="col-md-6" style="margin-top: 30px;">
                        <label for="company_name" class="form-label labelstyle">Company Name</label>
                        <input required type="text" value="{{data.cn}}" name="company_name" id="company_name" class="form-control">
                    </div>
                    <div class="col-md-6" style="margin-top: 30px;">
                        <label for="subcategory_name" class="form-label labelstyle">Sub Category Name</label>
                        <input required type="text" value="{{data.scn}}" name="subcategory_name" id="subcategory_name" class="form-control">
                    </div>
                </div><br>
                <center>
                <div class="col-md-6">
                    <img src="{{data.icon}}" width="250" height="150">
                </div></center><br>
                <div class="col-md-12">
                    <label for="formFile" class="form-label labelstyle">Category Icon</label>
                    <input required class="form-control" type="file" name="icon" id="formFile">
                </div><br>
                <div class="col-md-6" style="display: flex; align-items: center;justify-content: center;">
                    <button style="width: 75%;" type="submit"  class="btn btn-primary labelstyle">Upload Picture</button>
                </div>
            </form>
        </div>
    </div>
</html>