
<html>
<head>
    <link rel="stylesheet" href="/static/css/SubCategoryInterface.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/static/category.js"></script>
</head>
<div class="maincontainer">
    <div class="box">
       <form class="row g-3" action="/api/subcategorysubmit/&" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-12 headingtext">
            <img src="/static/logo.png" style="width: 60px; height: 50px; padding-right: 8px;">
            Add New Sub Category 
            <a href="/api/subcategorydisplay" style="text-decoration: none; padding-left: 90;" ><img src="/static/list.png" width="50" /></a>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="categoryid" class="form-label labelstyle">Category Id</label>
                <input required type="text" name="categoryid" id="categoryid" class="form-control">
                        
            </div>
            <div class="col-md-6">
                <label for="companyname" class="form-label labelstyle">Company Name</label>
                <select required name="companyname" id="companname" class="form-control">
                   <option>-Select Brand-</option> 
                   <option>Maruti</option>
                   <option>Tata</option>
                   <option>Mahindra</option>
                   <option>Force</option>
                   <option>Kia</option>
                   <option>MG</option>
                   <option>Nissan</option>
                   <option>Toyota</option>
                   <option>Skoda</option>
                   <option>Audi</option>
                </select>    
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="subcategoryname" class="form-label labelstyle">Sub Category Name</label>
                <input required type="text" name="subcategoryname" id="subcategoryname" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="description" class="form-label labelstyle">Description</label>
                <input required type="text" name="description" id="description" class="form-control">
            </div>
        </div>
        
        <div class="col-md-6" style="display: flex; align-items: center;justify-content: center;">
            <button style="width: 75%;" type="submit" class="btn btn-primary labelstyle">Submit</button>
        </div>
        <div class="col-md-6" style="display: flex; align-items: center;justify-content: center;">
            <button style="width: 75%;" type="reset" class="btn btn-primary labelstyle">Reset</button>
        </div>
        <div class="col-md-12 labelstyle" style="display: flex; align-items: center;justify-content: center;">
            <span style="font-weight: bold;">{{message}}</span>
        </div>
       </form>
    </div>
</div>
</html>